{% extends 'ProductBundle::layout.html.twig' %}

{% block body -%}
    <h1>Product</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Categories</th>
                <td>
                    {% for category in entity.categories %}
                        {{ category.title }}<br />
                    {% endfor %}
                </td>
            </tr>
            
            <tr>
                <th>Images</th>
                <td>
                    {% for image in entity.images %}
                        <img src="{{ image.url }}" /><br />
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
