{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/product/css/main.css') }}" rel="stylesheet" />
{% endblock %}

{% block menu %}
    {% include 'ProductBundle::menu.html.twig' %}
{% endblock %}