<div class="header">
    <ul class="nav">
        <li><a href="{{ path('product') }}">Products</a></li>
        <li><a href="{{ path('category') }}">Categories</a></li>
        <li><a href="{{ path('image') }}">Images</a></li>
        <li><a href="{{ path('nelmio_api_doc_index') }}">API doc</a></li>
    </ul>
</div>